@{
    List<string> BreadCrumb = new List<string>();
    BreadCrumb.Add("<span class='breadcrumb-item'>Dịch vụ</span>");
    BreadCrumb.Add("<span class='breadcrumb-item active'> Danh sách</span>");
    ViewBag.BreadCrumb = BreadCrumb;
}
<div class="content">
    <div class="card-body">
        <input style="padding: 7px; border-radius: 7px;" type="text" placeholder="Thêm dịch vụ"></input>
        <button class="save-button" onclick="saveServiceType()" style="margin-bottom: 4px; margin-left: 0px;">Thêm Dịch Vụ</button>
    </div>
    <div class="card">
        <div>
            <table class="table datatable-column-search-inputs">
                <thead>
                    <tr class="list-contract">
                        <th>STT</th>
                        <th>Tên dịch vụ</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody id="serviceTableBody">
                    @if (ViewBag.ServiceTypes != null)
                    {
                        var stt = 1;
                        @foreach (var serviceTypes in ViewBag.ServiceTypes)
                        {
                            <tr>
                                <td>@stt</td>
                                <td>@serviceTypes.Name</td>
                                <td>
                                    <a href="#"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a href="#" class="delete-link" data-serviceid="@serviceTypes.Service_Type_ID"><i class="fa-solid fa-trash-can"></i></a>
                                </td>
                            </tr>
                            stt++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7">Không có dữ liệu</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function saveService() {
        // Lấy giá trị từ trường nhập liệu
        var serviceName = document.getElementById('serviceName').value;

        // Kiểm tra nếu serviceName rỗng
        if (serviceName.trim() === '') {
            alert('Vui lòng nhập tên dịch vụ.');
            return;
        } else {
            $.ajax({
                url: "/Services/Create",
                type: 'POST',
                dataType: 'json',
                data: data,
                success: function (data) {

                }
            });
        }

        // Thực hiện xử lý lưu dịch vụ
        console.log('Đã lưu dịch vụ:', serviceName);
    }
</script>
