
@media print {
    html, body {
        border: 1px solid white;
        height: 99%;
        page-break-after: avoid;
        page-break-before: avoid;
    }
    /*.myfooter {
        display:block !important; 
    }*/
}  

/*@media screen {
  div.divFooter11 {
    display: none;
  }
}
@media print {
  div.divFooter11 {
    position: fixed;
    bottom: -1px;
    left:45%;
  }
}*/