#main {
    min-height: calc(100% - 51px) !important;
}

/* When the body has the loading class, we turn
           the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

    /* Anytime the body has the loading class, our
           modal element will be visible */
    body.loading .modal {
        display: block;
    }
/*
            Angularjs - Hide content until DOM loaded
        */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.font-red-bold {
    color: #b00f0f !important;
}

.txt-color-red {
    color: #b00f0f !important;
}

.cc-icon-gray {
    color: #787878;
}

.cc-text-footer {
    color: #d83375 !important;
}

.cc-text-bold {
    font-weight: bold;
}

.cc-icon-blue-radius {
    background: #00aeef;
    color: #ffffff;
    padding: 3px 5px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    vertical-align: middle;
}

    .cc-icon-blue-radius::before {
        font-size: 12px !important;
    }
/*button*/
.cc-btn-style {
    border-radius: 3px !important;
}

.cc-btn-color-violet {
    background-color: #605ca8 !important;
    border-color: #605ca8;
    color: #ffffff;
}

    .cc-btn-color-violet:hover, .cc-btn-color-violet:focus, .cc-btn-color-violet:active {
        background-color: #6a66bb !important;
        border-color: #6a66bb !important;
        color: #ffffff;
    }

.cc-btn-color-green {
    background-color: #3cb878 !important;
    border-color: #3cb878;
    color: #ffffff;
}

    .cc-btn-color-green:hover, .cc-btn-color-green:focus, .cc-btn-color-green:active {
        background-color: #359e61 !important;
        border-color: #359e61 !important;
        color: #ffffff;
    }

.cc-btn-color-blue {
    background-color: #00aeef !important;
    border-color: #00aeef;
    color: #ffffff;
}

    .cc-btn-color-blue:hover, .cc-btn-color-blue:focus, .cc-btn-color-blue:active {
        background-color: #23baec !important;
        border-color: #23baec !important;
        color: #ffffff;
    }

.cc-btn-color-red {
    background-color: #d92c33 !important;
    border-color: #d92c33;
    color: #ffffff;
}

    .cc-btn-color-red:hover, .cc-btn-color-red:focus, .cc-btn-color-red:active {
        background-color: #d13138 !important;
        border-color: #d13138 !important;
        color: #ffffff;
    }

.cc-btn-search {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    color: #ffffff;
}
/*pager*/

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    width: 25px;
    height: 25px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #363636;
    background-color: #e1e1e1;
    border: 1px solid #e1e1e1;
    margin-left: 5px;
    border-radius: 50%;
    margin-right: 5px;
    font-weight: bold;
    font-size: 12px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    background-color: #00aeef !important;
    border-color: #00aeef !important;
    cursor: default;
    border-radius: 50%;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-radius: 50% !important;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: 50% !important;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 3px 0px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #363636;
    background-color: #ebebeb;
    border: 1px solid #ddd;
    margin-left: -1px;
    text-align: center;
}

    .pagination > li > a:hover, .pagination > li > a:active, .pagination > li > a:focus,
    .pagination > li > span:hover, .pagination > li > span:focus, .pagination > li > span:active {
        color: #363636;
        background-color: #ddd;
    }


.jconfirm-box {
    width: 385px;
}

.jconfirm-title-c {
    padding-bottom: 10px !important;
}

.jconfirm-content-pane {
    margin-bottom: 5px !important;
} 
.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons button, .jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button {
    text-transform: unset;
}

.jconfirm-box.jconfirm-hilight-shake.jconfirm-type-default.jconfirm-type-animated {
    padding: 0;
}

.jconfirm-title-c {
    background: #ccc;
    padding: 10px;
}

.jconfirm-content {
    margin: 10px;
    padding-bottom: 10px;
}

.jconfirm-buttons {
    margin-right: 10px;
}
/**/
table.scroll {
    width: 100%;
    background-color: #fff;
}

    table.scroll thead {
        width: 100%;
    }

        table.scroll thead tr:after {
            content: '';
            overflow-y: scroll;
            visibility: hidden;
        }

        table.scroll thead th {
            flex: 1 auto;
            display: block;
        }

    table.scroll tbody {
        display: block;
        width: 100%;
        overflow-y: auto;
        height: auto;
        max-height: 300px;
    }

        table.scroll thead tr,
        table.scroll tbody tr {
            display: flex;
        }

            table.scroll tbody tr td {
                flex: 1 auto;
                word-wrap: break;
            }

            table.scroll thead tr th,
            table.scroll tbody tr td {
                width: 25%;
                padding: 5px;
            }



/*>>> Begin scroll-table*/
.right {
    text-align: right;
}

.scroll-table .divBody {
    max-height: 280px;
    overflow-x: hidden;
    overflow-y: scroll;
}

    .scroll-table .divBody .grid_body {
        width: 100%;
        table-layout: fixed;
        margin-bottom: 0px;
    }

        .scroll-table .divBody .grid_body td.anchor {
            background: #fff;
            word-wrap: break-word;
            background-clip: padding-box;
        }

.scroll-table .divHeader {
    background: #eee;
    border: 1px solid #ddd;
    border-left: 0px;
    border-bottom: 0px;
    background-image: -webkit-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
    overflow-x: hidden;
    overflow-y: hidden;
    padding-right: 17px;
}

.scroll-table .grid_header {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 0px;
    border-top: 0px;
}

.scroll-table .divFooter {
    background: #eee;
    border: 1px solid #ddd;
    border-left: 0px;
    border-bottom: 0px;
    background-image: -webkit-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
    overflow-x: scroll;
    overflow-y: hidden;
    padding-right: 17px;
}

.scroll-table .grid_footer {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 0px;
    border-top: 0px;
}

    .scroll-table .grid_header th.anchor,
    .scroll-table .grid_body td.anchor,
    .scroll-table .grid_footer th.anchor {
        position: relative;
        background-color: white;
        z-index: 100;
        background-clip: padding-box;
    }

.font-red-bold {
    color: Red;
    font-weight: bold;
}

.scroll-table .dark {
    display: block;
    position: absolute;
    height: calc(100% - 27px);
    top: 0;
    left: 0;
    background: #ccc;
    z-index: 20;
}

.scroll-table {
    position: relative;
}

    .scroll-table .scroll-pagination {
        text-align: right;
        padding: 0px;
        padding-top: 10px;
    }

/*>>> End scroll-table*/